/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


:root .theme_dark {
  --accent-title-color: #db00ff;
  --accent-header-color: #000028;
  --accent-header-nav-color: #ff0070;
  --accent-title-shadow: #ff0070;
  --accent-main-text-color: #f1b2ce;
  --accent-article-title-color: var(--accent-header-color);
  --accent-section-title-color: #ff0070;
  --accent-background-color: #000028;
  --accent-background-image: url(../images/cover-image-dark.png);
  --accent-rec-color: var(--accent-header-nav-color);
  --accent-corner-color: var(--accent-header-nav-color);
  --accent-subtitle-background-color: #ff0070;
  --accent-article-background-color: #ff0070;
  --accent-hover-color: rgba(255, 0, 112, 0.4);
  --accent-link-shadow: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-title-color: #db00ff;
    --accent-header-color: #000028;
    --accent-header-nav-color: #ff0070;
    --accent-title-shadow: #ff0070;
    --accent-main-text-color: #f1b2ce;
    --accent-article-title-color: var(--accent-header-color);
    --accent-section-title-color: #ff0070;
    --accent-background-color: #000028;
    --accent-background-image: url(../images/cover-image-dark.png);
    --accent-rec-color: var(--accent-header-nav-color);
    --accent-corner-color: var(--accent-header-nav-color);
    --accent-subtitle-background-color: #ff0070;
    --accent-article-background-color: #ff0070;
    --accent-hover-color: rgba(255, 0, 112, 0.4);
    --accent-link-shadow: #ff0070;
  }
}
