/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  --accent-title-color: #ffc2e6;
  --accent-header-color: #353430;
  --accent-header-nav-color: #353430;
  --accent-title-shadow: #ff0070;
  --accent-main-text-color: #353430;
  --accent-article-title-color: var(--accent-header-color);
  --accent-section-title-color: #353430;
  --accent-background-color: #fff1f7;
  --accent-background-image: url(../images/cover-image-light.png);
  --accent-rec-color: var(--accent-background-color);
  --accent-corner-color: #353430;
  --accent-subtitle-background-color: #ff8dcb;
  --accent-article-background-color: #ff8dcb;
  --accent-hover-color: rgba(50, 49, 45, 0.4);
  --accent-link-shadow: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-title-color: #ffc2e6;
    --accent-header-color: #353430;
    --accent-header-nav-color: #353430;
    --accent-title-shadow: #ff0070;
    --accent-main-text-color: #353430;
    --accent-article-title-color: var(--accent-header-color);
    --accent-section-title-color: #353430;
    --accent-background-color: #fff1f7;
    --accent-background-image: url(../images/cover-image-light.png);
    --accent-rec-color: var(--accent-background-color);
    --accent-corner-color: #353430;
    --accent-subtitle-background-color: #ff8dcb;
    --accent-article-background-color: #ff8dcb;
    --accent-hover-color: rgba(50, 49, 45, 0.4);
    --accent-link-shadow: #ff8dcb;
  }
}
