/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс pagecenter. На его основе работает скрипт. */
  background-color: var(--accent-background-color);
  background-size: cover;
  background-image: var(--accent-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--accent-main-text-color);
  min-height: 100vh;
  min-width: 375px;
}

.header {
  padding: 10px;
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: 8vh;
}

@media (width > 767px) {
  .header {
    padding: 20px;
    gap: 16vh;
  }
}

@media (width >= 1024px) {
  .header {
    gap: 7vh;
  }
}
.header-rec {
  position: absolute;
  color: var(--accent-rec-color);
  text-transform: uppercase;
  top: 11px;
  right: 39px;
}

@media (width > 767px) {
  .header-rec {
    top: 21px;
    right: 49px;
  }
}

.header-rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-rec-color);
  box-shadow: 0 0 4px 2px var(--accent-rec-color);
  margin: -5px -20px 0 0;
  top: 50%;
  right: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-corner-color);
  border-right: 1px solid var(--accent-corner-color);
  right: 10px;
  top: 10px;
}

@media (width > 767px) {
  .decorated-zone::before {
    right: 20px;
    top: 20px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-corner-color);
  border-left: 1px solid var(--accent-corner-color);
  left: 10px;
  bottom: 10px;
}

@media (width > 767px) {
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--accent-title-color);
  text-shadow: 4px 4px 0 var(--accent-title-shadow);
  line-height: 83%;
}

@media (width > 767px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
}

.header__subtitle {
  color: var(--accent-header-color);
  background-color: var(--accent-subtitle-background-color);
  font-weight: 700;
  align-self: start;
}

@media (width > 767px) {
  .header__subtitle {
    align-self: start;
    justify-self: end;
    width: 50%;
  }
}

@media (width >= 1024px) {
  .header__subtitle {
    margin: 60px 0 74px;
    width: 50%;
    padding-inline-end: 0px;
  }
}

.header__theme-menu {
  margin-block-start: 9.5vh;
}

@media (width > 767px) {
  .header__theme-menu {
    margin-block-start: 17vh;
    margin-block-end: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-top: 0;
    margin-block-start: 0;
  }
}

.header__theme-menu-list {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 13px;
}

@media (width > 768px) {
  .header__theme-menu-list {
    justify-content: center;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  color: var(--accent-header-nav-color);
  padding: 1.5px 13px;
  text-transform: lowercase;
  background: none;
  border: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-hover-color);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-corner-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}


/*MAIN*/

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (width > 767px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    margin: 60px 0;
  }
}

.section-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-why,
.section-causes,
.section-advices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width > 767px) {
  .section-why,
  .section-advices {
    display: grid;
    grid-template-columns: 32% 1fr;
  }
}

@media (width > 767px) {
  .section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.section__title {
  color: var(--accent-section-title-color);
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}


@media (width > 767px) {
  .section-causes .section__title {
    width: 30%;
  }
}

.section__article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width > 767px) {
  .section-gallery .section__article-title {
    grid-column: 1/-1;
    width: 100%;
  }
}


@media (width > 767px) {
  .section-why,
  .section-causes {
    margin-block-end: 50px;
  }
}

@media (width > 767px) {
  .section-advices {
    margin-block-end: 52px;
  }
}


.section__article-title {
  color: var(--accent-article-title-color);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--accent-article-background-color);
}

@media (width > 767px) {
  .section-gallery .section__article-title {
    margin-block-end: 0px;
  }
}

.section__article-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.section__article-text-link {
  border: transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-link-shadow);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--accent-main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--accent-main-text-color);
}

.section__article-title-regular {
  font-weight: 400;
}

.section__image {
  width: 100%;
  height: auto;
}

@media (width > 767px) {
  .section-gallery .section__image {
    margin-block-end: 0;
  }
}
@media (width > 767px) {
  .section-gallery .section__image:first-of-type,
  .section-gallery .section__image:last-of-type {
    grid-column: span 2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@media (width > 767px) {
  .section-gallery .section__image:nth-of-type(2),
  .section-gallery .section__image:nth-of-type(3) {
    grid-row: span 2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@media (width >= 1024px) {
  .section-causes .section__article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-advices .section__article-text {
  margin-block-end: 0;
}

/*FOOTER*/

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--accent-title-color);
  text-shadow: 2px 2px 0 var(--accent-title-shadow);
}

@media (width >= 1024px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
